#html{
  background-color:#cbdeee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  scrollbar-color: darkcyan #fff;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  
}
::-webkit-scrollbar{
  background-color:#fff;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: darkcyan;
}
body    {overflow-y:scroll!important;}
body { 
  height: 100%;
  width: 100%;
  padding: 0 !important;
  background-color:#cbdeee!important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}