.col {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    justify-content: space-around;
}
.row,.row2,.rowBtn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row2 {
    justify-content:start;
    align-items:center;
}
.rowBtn{
    justify-content: space-between;
}

.col40,.col20{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding:10px;
}

.col20{
    display: flex;
    flex-direction: column;
    width:23%;
    justify-content: space-around;
    align-items: center;
}

.icon{
    color: darkcyan;
    font-size: 1.8rem!important;
}
.iconBig{
    font-size: 12rem!important;
    color: darkcyan!important;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formElement{
    margin: 2.5px 0px;
}

.input{
    border: 0.001rem solid rgba(211, 211, 211, 0.932);
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input::placeholder{
    font-size: 1rem;
}

select::after{
    nav-down: none;
}