.icon {
  color: darkcyan;
  font-size: 1.8rem !important;
}
.iconBig {
  font-size: 12rem !important;
  color: darkcyan !important;
}
.h3 {
  margin-left: 10px;
  margin-bottom: 0px;
}
.Divider{
    opacity: 1!important;
    background-color: rgba(0, 0, 0, 0.3)!important;
}
.row,
.rowCenter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowCenter {
  justify-content: start;
  align-items: center;
}

.col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  justify-content: space-around;
}

.col23 {
  display: flex;
  flex-direction: column;
  width: 23%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.col50 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.formElement {
  margin: 2.5px 0px;
}

.input {
  border: 0.001rem solid rgba(211, 211, 211, 0.932);
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.input::placeholder {
  font-size: 1rem;
}

.rowBtn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
